.active__token {
    width: 58px;
}
@media screen and (max-width: 1680px){
    .active__token {
        width: 36px;
    }
  }
  @media screen and (max-width: 1220px){
    .active__token {
        width: 28px;
    }
  }
  @media screen and (max-width: 940px){
    .active__token {
        width: 18px;
    }
  }
  @media screen and (max-width: 720px){
    .active__token {
        width: 28px;
    }
  }