.banner__button {
    width: 190px;
    height: 96px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    font-size: 24px;
    color: #222222;
    margin-top: 40px;
}
.banner__button:hover {
    opacity: .6;
    transition: linear .3s;
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .banner__button {
        width: 160px;
        height: 72px;
    }
}
@media screen and (max-width: 940px){
    .banner__button {
        margin-top: 20px;
    }
}
@media screen and (max-width: 720px){
    .banner__button {
        margin-top: 10px;
        width: 120px;
        height: 32px;
        font-size: 18px;
    }
}