@import url('__form/__form.css');
@import url('__input-container/__input-container.css');
@import url('__header/__header.css');
@import url('__input/__input.css');
@import url('__button/__button.css');
@import url('__checkbox/__checkbox.css');
@import url('__label/__label.css');
@import url('__image/__image.css');
@import url('__woman/__woman.css');
.form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}
@media screen and (max-width: 940px){
    .form {
        margin-bottom: 50px;
    }
  }