.banner__advantages {
    margin: 0;
    padding: 0;
    margin-top: 65px;
    list-style-type: none;
}
@media screen and (max-width: 1440px){
    .banner__advantages {
        margin-top: 42px;
    }
  }
@media screen and (max-width: 1200px){
    .banner__advantages {
        margin-top: 36px;
    }
  }
@media screen and (max-width: 940px){
    .banner__advantages {
        margin-top: 18px;
    }
  }