@import url('./_align-center/_align-center.css');
.footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}
.footer__block:last-of-type {
    margin-right: 5px;
    margin-left: 0;
}
@media screen and (max-width: 620px){
    .footer__block {
        margin-bottom: 10px;
    }
  }