.footer__container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-right: 160px;
    margin-bottom: 55px;
    margin-left: 160px;
    width: 100%;
    max-width: 1600px;
    height: 135px;
}
@media screen and (max-width: 620px){
    .footer__container {
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
  }
