@import url('__navigation/__navigation.css');
@import url('__menu-container/__menu-container.css');
@import url('__text-wrapper/__text-wrapper.css');
@import url('__text-container/__text-container.css');
@import url('__image/__image.css');
@import url('__button/__button.css');
@import url('__title/__title.css');
@import url('__subtitle/__subtitle.css');
@import url('__advantages/__advantages.css');
@import url('__advantage/__advantage.css');
@import url('__advantage-text/__advantage-text.css');
@import url('__tick/__tick.css');
.banner {
    max-width: 1920px;
    max-height: 1000px;
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    margin-bottom: 100px;
}
@media screen and (max-width: 940px){
    .banner {
    margin-bottom: 50px;
    }
}