.banner__text-wrapper {
    margin-right: 200px;
    margin-left: 185px;
    width: 100%;
}
@media screen and (max-width: 1690px){
    .banner__text-wrapper {
        margin-right: 80px;
        margin-left: 80px;
    }
}
@media screen and (max-width: 1020px){
    .banner__text-wrapper {
        margin-right: 40px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 940px){
    .banner__text-wrapper {
        margin-right: 20px;
    }
}
@media screen and (max-width: 760px){
    .banner__text-wrapper  {
        margin-left: 15px;
        margin-right: 0;
    }
}
@media screen and (max-width: 580px){
    .banner__text-wrapper  {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}