.form__input-container {
    display: flex;
    flex-direction: column;
    margin-left: 135px;
    max-width: 780px;
    width: 100%;
    margin-right: 75px;
    margin-bottom: 72px;
}
@media screen and (max-width: 1280px){
    .form__input-container {
        margin-right: 25px;
        margin-left: 35px;
        margin-bottom: 25px;
    }
  }
  @media screen and (max-width: 440px){
    .form__input-container {
        margin-right: 5px;
        margin-left: 5px;
    }
  }