.banner__title{
  font-size: 80px;
  color: white;
  margin: 0;
}
@media screen and (max-width: 1440px){
  .banner__title {
    font-size: 64px;
  }
}
@media screen and (max-width: 1200px){
  .banner__title {
    font-size: 54px;
  }
}
@media screen and (max-width: 940px){
  .banner__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 720px){
  .banner__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 580px){
  .banner__title {
    text-align: center;
  }
}