@import url('./_link/_link.css');
@import url('./_margins/_margins.css');
@import url('./__container/__container.css');
@import url('./__list/__list.css');
@import url('./__social-link/__social-link.css');
@import url('./__copyright/__copyright.css');
@import url('./__block/__block.css');
@import url('./__private/__private.css');
@import url('./__button/__button.css');
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
}